html, body{
  height: 100%;
}

.App, #root{
  background-image: url('./img/fly.jpg');
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
